@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');
.template {
    display: grid;
    grid-template-columns: none;
    width: 100%;
    align-items: unset;
    grid-template-rows: min-content auto;
    row-gap: 8px;
}
.template__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

.template__price{
    display: none;
}

.template__content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
}


.template__content {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
}


.template__noExtra{
    display: none;
}

.template__contentPrice{
    grid-row:2;
    display:unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.template__contentSpacer{
    grid-row:2;
    border-bottom: 1px solid;
    border-style: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
}

.template__titleBold{
    font-family:  'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #02435A;
    white-space: nowrap;

}



@media screen and (max-width: 950px) {
    .template{
        grid-template-columns: min-content 10fr min-content;
    }
    .template__content{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .template__contentSmall{
        grid-row:2;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        justify-self: end;
        align-self: end;
    }
    .template__spacer{
        border-bottom: 1px solid;
        border-style: dotted;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .template__price{
        display:unset;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
    .template__price::first-letter, .template__contentPrice::first-letter{
        color: #F1C300;
    }
    .template__title{
        white-space: nowrap;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
}
