@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,900|Roboto:400,500,900&display=swap');

.ingredientsAndDrinks{
    margin: 0 auto;
    margin-top: 62px;
    width: 929.32px;
    display: grid;
    grid-template-columns: 327.41px 87.84px 513.85px;
    padding-left: 10px;
    padding-right: 10px;
}

.ingredientsAndDrinks__extraTitle{
    margin-bottom: 21.15px;
    margin-top: auto;
    font-family:  'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 21.7244px;
    color: #02435A;
}

.ingredientsAndDrinks__extra{
    height: 146.02px;
    align-self: center;
}


.ingredientsAndDrinks__extraS{
    display:grid;
    grid-template-rows: min-content min-content min-content;
    row-gap: 11.5px;
}

.smallText{
    display:grid;
    grid-template-columns: 192.65px auto;
}

.smallText__name{
    margin: 0;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.smallText__price{
    justify-self:end;
    align-self: end;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.drinkChoices{
    display:grid;
    grid-template-columns: 260.54px auto;
}

.ingredientsAndDrinks__spacer{
    height: 100%;
    justify-self: center;
    align-self: center;
    width: 1px;
    border-right: solid 1px black;
}

@media screen and (max-width: 950px) {
    .ingredientsAndDrinks__spacer{
        display: none;
    }

    .ingredientsAndDrinks__extraTitle{
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
    }

    .smallText__name, .smallText__price{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    .ingredientsAndDrinks{
        display: grid;
        grid-template-columns: 100%;
        width: calc(100% - 40px);
        margin-top: 30px;
        padding-left: unset;
        padding-right: unset;
    }

    .ingredientsAndDrinks__extra{
        width: 100%;
        justify-self: start;
    }

    .drinkChoices{
        width: 100%;
        grid-template-columns: 50% 50%;
    }

    @media screen and (max-width: 355px) {
        .drinkChoices{
            width: 100%;
            grid-template-columns: 100%;
        }  
    }
}
