@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
.app__blob--granite {
    background-size: cover;
    background-color: #d4d4d4;
    background-image: url("../public/images/granite.webp"),linear-gradient(rgba(60, 60, 60, 1), rgba(60, 60, 60, 1));
    background-blend-mode: overlay;
}

.orderInfo {
    width: min-content;
    margin: 0 auto;
    margin-top: 69px;
    display: grid;
    grid-template-columns: max-content min-content;
    column-gap: 55px;
}

.orderInfo__car {
    max-width: 447px;
    margin-left: 28.5px;
}

.orderInfo__carImage {
    width: 100%;
}

.payment {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    width: 317px;
    row-gap: 40px;
    align-content: center
}

.payment__info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}

.phoneInfo {
    grid-column: 1/3;
}

.phoneInfo__textWrapper {
    margin: 11px 0;
    display: grid;
    justify-content: center;
    column-gap: 10px;
    row-gap: 11px;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

.phoneInfo__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #02435A;
    cursor: pointer;
}

.phoneInfo__text--bold {
    font-weight: 900;
    font-size: 22px;
}

.phoneInfo__spacer {
    width: 100%;
    border-top: solid 1.5px;
}

.orderInfo__address {
    grid-column: 1/3;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}

.socialInfo {
    margin-top: 47px;
    grid-column: 1/3;
    grid-template-columns: repeat(3, max-content);
    display: grid;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

.socialInfo__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.socialInfo__spacer {
    border-left: 1.5px solid;
    height: 15px;
}

@media only screen and (max-width: 880px) {
    .orderInfo {
        grid-template-columns: 100%;
        justify-items: center;
        width: 100%;
    }
    .phoneInfo {
        width: 100%;
        grid-column: 1;
    }
    .orderInfo__address {
        grid-column: 1;
    }
    .socialInfo {
        grid-column: 1;
    }
    .payment {
        padding-left: 84px;
        width: 447px;
        margin: 28px 0;
    }
}

@media only screen and (max-width: 530px) {
    .socialInfo {
        grid-template-columns: min-content;
        justify-items: center;
    }
    .socialInfo__spacer{
        border-left: none;
        border-bottom: 1.5px solid;
        width: 20px;
        height: 17px;
        margin-bottom: 17px;
    }
    .payment {
        width: 72.8%;
        padding-left: 0;
    }
    .orderInfo__car {
        width: 86.4%;
        margin: 0;
    }
    .orderInfo{
        margin-top: 41px;
    }
}
@media only screen and (max-width:335px) {
    .phoneInfo__textWrapper{
        grid-template-columns: auto;
        justify-items: center;
    }
}