
.pizzaList{
    width: 90%;
    max-height: 650px;
    display: grid;
    row-gap: 50px;
    column-gap: 32px;
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: column;
    margin-left: 10px;
    padding-top: 47px;
    margin: 0 auto;
    overflow-x: scroll;
    margin-top: 47px;
    padding-top:0;
    overflow-y: hidden;
    padding: 20px;
}


@media screen and (max-width: 950px) {
    .pizzaList{
        column-gap: 19px;
        grid-auto-flow: column;
        grid-template-rows: 1fr;
        padding: 17px;
        margin-left: 0px;
        margin-right: 17px;
    }
}
