
.pizzaList{
    max-width: 919px;
    max-height: 650px;
    display: grid;
    row-gap: 50px;
    column-gap: 32px;
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: column;
    margin: 0 auto;
    overflow-x: scroll;
    margin-top: 47px;
    overflow-y: hidden; 
    padding-bottom: 20px;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 3px rgba(0,0,0,.12));
}