.pizzaList{
    max-height: 650px;
    display: grid;
    row-gap: 50px;
    column-gap: 32px;
    grid-template-columns: 1;
    grid-auto-flow: row;
    margin: 0 auto;
    overflow-x: hidden;
    margin-top: 47px;
    overflow-y: scroll;
    padding-bottom: 20px;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 3px rgba(0,0,0,.12));
}


@media screen and (max-width: 950px) {
    .pizzaList{
        max-height: unset;
        overflow-x: unset;
        overflow-y: unset;
        filter: unset;
    }
    
}