@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,900|Roboto:400,500,900&display=swap');
.pizza{
    justify-self: center;
    padding-top: 0px;
    width: 800px;
    height: 163px;
    display: grid;
    grid-template-columns: 318px 285.21px 216.14px;
    border-radius: 10px;
    background: white;
}

.pizza__orderDetails {
    display: grid;
    grid-template-columns: 2fr 50px 2fr;
    height: 100%;
}

.pizza__imageBlob{
    background-color: #FCBD10;
    width: 318px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}

.pizza__image, .pizza__imageNew{
    margin-left: 31.62px;
    height: 186px;
}

.pizza__info{
    display:grid;
    grid-template-rows: auto auto min-content;
    margin-left: 25.52px;
    row-gap: 2px;
}

.pizza__infoTitle{
    align-self: end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 21.7244px;
    color: #02435A;
}

.pizza__infoIngredients{
    align-self: start;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.pizza__small, .pizza__large{
    display:grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 15px;
    align-content: center;
}

.pizza__smallSize{
    justify-self: end;
    align-self: end;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17.9659px;
    color: #02435A;
    margin-bottom: auto;
    margin-top: 39.46px;
}

.pizza__spacer{
    height: 45%;
    justify-self: center;
    align-self: center;
    width: 1px;
    border-right: solid 1px #02435A;
}

.pizza__largeSize{
    justify-self: start;
    align-self: end;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17.9659px;
    color: #02435A;
    margin-bottom: auto;
    margin-top: 39.46px;
}

.pizza__smallPrice{
    justify-self: end;
    align-self: start;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21.7244px;
    color: #02435A;
    margin-bottom: 41.04px;
    margin-top: auto;
}

.pizza__largePrice{
    justify-self: start;
    align-self: start;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21.7244px;
    color: #02435A;
    margin-bottom: 41.04px;
    margin-top: auto;
}
.pizza__modifierIcon {
    margin-bottom:11px;
}


.pizza__imageModIcon{
    position: absolute;
    z-index: +1;
    height: 30px;
    margin-top: 10px;
}


@media screen and (max-width: 950px) {
    .pizza{
        justify-self: center;
        padding-top: 0px;
        width: min-content;
        height: min-content;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content;
        border-radius: 10px;
        background: white;
    }

    .pizza__imageBlob{
        background-color: rgba(0,0,0,0);

        width: fit-content;
        height: fit-content;
        border-radius: 10px 0px 0px 10px;
        overflow: unset;
    }

    .pizza__image{
        margin-left: 0px;
        height: 200px;
    }
    .pizza__infoTitle{
        align-self: center;
        justify-self: center;
    }
    .pizza__infoIngredients{display:none;}
    .pizza__orderDetails{justify-self: center;}
    .pizza__info{
        
        margin-left: 0px;
        grid-template-columns: auto min-content;
        grid-template-rows: 1fr;
    }
    .pizza__modifiers {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: visible;
        width: 1px;
        direction: rtl;
    }

    .pizza__imageBlob {
        position: relative;
        display: inline-block;
    }

    .pizza__imageBlob .pizza__imageIngredients {
        visibility: hidden;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 1s;
    }
    .pizza__imageBlob:hover .pizza__imageIngredients {
        visibility: visible;
        opacity: 0.7;
    }
}