@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,900|Roboto:400,500,900&display=swap');

.pizza{
    padding-top: 0px;
    width: 800px;
    height: 143px;
    display: grid;
    grid-template-columns: 318px 8fr 2fr 50px 3fr;
    border-radius: 10px;
    background: white;
}
.pizza__imageBlob{
    background-color: #FCBD10;
    width: 318px;
    height: 143px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}
.pizza__image{
    margin-left: 31.62px;
}

.pizza__info{
    display:grid;
    grid-template-rows: auto auto;
    margin-left: 25.52px;
    row-gap: 14px;
}

.pizza__infoTitle{
    align-self: end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 21.7244px;
    color: #02435A;
}

.pizza__infoIngredients{
    align-self: start;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.pizza__small, .pizza__large{
    display:grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 15px;
}

.pizza__smallSize{
    justify-self: end;
    align-self: end;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17.9659px;
    color: #02435A;
    margin-bottom: auto;
    margin-top: 39.46px;
}
.pizza__spacer{
    height: 45%;
    justify-self: center;
    align-self: center;
    width: 1px;
    border-right: solid 1px #02435A;
}
.pizza__largeSize{
    justify-self: start;
    align-self: end;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17.9659px;
    color: #02435A;
    margin-bottom: auto;
    margin-top: 39.46px;
}

.pizza__smallPrice{
    justify-self: end;
    align-self: start;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21.7244px;
    color: #02435A;
    margin-bottom: 41.04px;
    margin-top: auto;
}

.pizza__largePrice{
    justify-self: start;
    align-self: start;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21.7244px;
    color: #02435A;
    margin-bottom: 41.04px;
    margin-top: auto;
}