@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
.pizzaRolls {
    height: fit-content;
    margin: 0 auto;
    margin-top: 46px;
    display: grid;
    grid-template-columns: 403px auto;
    column-gap: 50px;
}

.pizzaRolls__preview {
    grid-column: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FCBD10;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.pizzaRolls__rollImg {
    width: 135%;
    margin: 0 auto;
    display: block;
    margin-top: 126px;
    height: 252px;
}

.pizzaRolls__title-pc, .pizzaRolls__title-komp {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    color: #02435A;
}
.pizzaRolls__title-mobile{
    display: none;
}

.pizzaRolls__title-pc--space-after {
    margin-bottom: 10px;
    display: block;
}

.pizzaRolls__Info {
    display: grid;
    row-gap: 15px;
    grid-template-rows: repeat(3, min-content);
}

@media screen and (max-width: 950px) {
    .pizzaRolls {
        grid-template-columns: unset;
        grid-template-rows: auto min-content;
        width: calc(100% - 40px);
        height: unset;
    }

    .pizzaRolls__preview {
        grid-row: 1;
        width: 100%;
        margin: 0 auto;
        padding-top: 46%; 
        background-color: unset;
        position: relative;
        height: 0;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .pizzaRolls__rollImg{
        top:29%;
        position: absolute;
        width: 116%;
        height: auto;
        margin-top: 0;
    }
    .pizzaRolls__title-pc{
        display: none;
    }

    .pizzaRolls__title-mobile{
        display: unset;
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        margin-bottom: 32px;
        top: 10px;
        left: 0px;
        padding: 5px;
        background-color: #F1C300;
        border-radius: 10px 0px 10px 0px;

    }
}