@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');
.RollInfoTable__hWrapper{
    height: fit-content;
}

.RollInfoTable__hWrapper {
    display: grid;
    grid-template-columns: 140px min-content 140px min-content 140px;
    justify-content: space-between;
}
.RollInfoTable__hWrapper--3c{
    grid-template-columns: 250px min-content 180px;
}
.RollInfoTable__hSpacer {
    width: 100%;
    margin-top:12px;
    margin-bottom:12px;
    border-bottom: solid 1px black;
    margin-top: 0px;
}



.rollInfo__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

.rollInfo__price{
    display: none;
}

.rollInfo__content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
}


    .RollInfoTable__hWrapper {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 100%;
        justify-content: space-between;
    }

    .RollInfoTable__vSpacer {
        display: none;
    }

    .rollInfo__content {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
    }

    
    .pizzaRolls__title--space-after{
        margin-bottom: 3px;
    }

.rollInfo {
    display: grid;
    grid-template-columns: none;
    width: 100%;
    align-items: unset;
    grid-template-rows: min-content auto;
    row-gap: 8px;
    margin-bottom: 25px;
}

.rollInfo__noExtra{
    display: none;
}
@media screen and (max-width: 950px) {
    .rollInfo{
        grid-template-columns: min-content 10fr min-content;
    }
    .rollInfo__content{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .rollInfo__spacer{
        border-bottom: 1px solid;
        border-style: dotted;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .rollInfo__price{
        display:unset;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
    .rollInfo__price::first-letter{
        color: #F1C300;
    }
    .rollInfo__title{
        white-space: nowrap;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
}
