@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');
.RollInfoTable__hWrapper{
    height: fit-content;
}

.RollInfoTable__hWrapper {
    display: grid;
    grid-template-columns: 140px min-content 140px min-content 140px;
    justify-content: space-between;
}
.RollInfoTable__hWrapper--3c{
    grid-template-columns: 250px min-content 180px;
}
.RollInfoTable__hSpacer {
    width: 100%;
    margin-top:12px;
    margin-bottom:12px;
    border-bottom: solid 1px black;
    margin-top: 0px;
}



.rollInfo__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    grid-row: 1;
    grid-column: 1;
    white-space: nowrap;
}


.rollInfo__content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}


.RollInfoTable__hWrapper {
    margin-top: 40px;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-content: space-between;
}

.RollInfoTable__vSpacer {
    display: none;
}

.pizzaRolls__title--space-after{
    margin-bottom: 3px;
}

.rollInfo {
    display: grid;
    width: 100%;
    align-items: unset;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    row-gap: 8px;
    column-gap: 10px;
    margin-bottom: 25px;
}

.rollInfo__noExtra{
    display: none;
}

.rollInfo__contentNoExtra{
    display: none;
}

.rollInfo__contentPrice{
    grid-row:2;
    display:unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.rollInfo__contentSpacer{
    grid-row:2;
    border-bottom: 1px solid;
    border-style: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
}

.rollInfo__titleBold{
    font-family:  'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #02435A;
    white-space: nowrap;
    grid-row: 1;
    grid-column: 1;
}

.rollInfo__price{
    display:unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    grid-row:1;
    grid-column: 2;
}
.rollInfo__price::first-letter, .rollInfo__contentPrice::first-letter{
    color: #F1C300;
}


@media screen and (max-width: 950px) {
    .RollInfoTable__hWrapper{
        grid-template-columns: 100%;
        margin-top: unset;
    }
    .rollInfo__titleBold{
        grid-row: unset;
        grid-column: unset;
    }
    .rollInfo__title {
        grid-row: unset;
        grid-column: unset;
    }
    .rollInfo__content {
        grid-row: unset;
    }
    .rollInfo__price{
        grid-row:unset;
        grid-column: unset;
    }
    .rollInfo {
        column-gap: unset;
        grid-template-columns: min-content 10fr min-content;
    }
    .rollInfo__content{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .rollInfo__contentSmall{
        grid-row:2;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        justify-self: end;
        align-self: end;
    }
    .rollInfo__spacer{
        border-bottom: 1px solid;
        border-style: dotted;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .rollInfo__price{
        display:unset;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
    .rollInfo__price::first-letter, .rollInfo__contentPrice::first-letter{
        color: #F1C300;
    }
    .rollInfo__title{
        white-space: nowrap;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
}
